<div id="card-container">
  <div class="d-flex profile-card__header">
    <app-avatar-icon src="https://avatars0.githubusercontent.com/u/26419897?s=460&v=4"></app-avatar-icon>
    <div class="profile-card__header-title">
      <div class="profile-card__header-title__username">{{ user.username }}</div>
      <div class="profile-card__header-title__status">Chilling</div>
    </div>
  </div>
  <div class="profile-card__content">
    <div class="profile-card__content-header">Most successfull openings:</div>
    <div class="profile-card__content-games">
      <div class="d-flex justify-content-between games">
        <div *ngFor="let game of games" class="games__info">
          <div class="cg-wrapper">
            <app-chessground-static
              [width]="112"
              [height]="112"
              [fen]="game.fen"
              [zoom]="zoom"
              [orientation]="game.orientation">
            </app-chessground-static>
          </div>
          <div class="games__info-title">{{ game.title }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-card__footer">
    <div class="d-flex justify-content-between account-info">
      <div class="pr-0 account-info__reg-date">
        <div class="title">
          Account creted on:
        </div>
        <div class="content">
          12.12.2012
        </div>
      </div>
      <div class="pl-0 account-info__games">
        <div class="title">
          Games played:
        </div>
        <div class="content">
          1488
        </div>
      </div>
    </div>
  </div>
</div>
