@import 'variables';

div.analysis-container {
  padding: 24px;
  height: calc(100vh - 56px);

  .analysis-container__left {
    height: 100%;

    .table-card {
      height: 100%;
    }
  }

  .analysis-container__right {
    margin: auto 0;

    .mv-table {
      max-height: 444px;
    }
  }

  .card {
    background: linear-gradient(to right, $primary-color-minor, $primary-color-major);
    color: $primary-text-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
  }

  .cg-card {
    margin-right: 24px;
  }

  .op-title {
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    margin: 8px 0;
  }
}
