@import 'variables';

div.analysis-container {
  padding: 24px;

  .analysis-container__right {
    margin: auto 0;
  }

  .card {
    background: linear-gradient(to right, $primary-color-minor, $primary-color-major);
    color: $primary-text-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
  }
}
