@import 'variables';

#header {
  overflow: hidden;
  background: $primary-color-major;

  &>div.header {
    text-align: center;
    padding-top: 60px;

    .header__title {
      font-size: 56px;
      font-weight: 300;
      line-height: 56px;
      color: $primary-text-color;

      &>h1 {
        margin: 15px 5px;
      }

      .header__title-content {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        margin: 15px 0 25px;
      }
    }
  }
}
