@import 'variables';

.login {
  margin-top: 80px;

  .login-card {
    max-width: 400px;
    margin: 0 auto;
    background: linear-gradient(to right, $primary-color-minor, $primary-color-major);
    color: $primary-text-color;
  }

  .login__button {
    &>button {
      outline: none;
    }
  }

  &>mat-card-footer {
    margin: 0;
  }

  &>mat-card-footer p {
    color: red;
  }

  .fields-wrapper {
    flex-direction: column;
    padding: 0 15px;
  }
}
