<app-navigation></app-navigation>

<div class="ui-container">
  <div class="d-flex flex-row">
    <div class="col-xl-3 ui-container__left">
      <mat-card class="profile-card">
        <app-profile-card></app-profile-card>
      </mat-card>
      <mat-card class="friends-list-card">
        <app-friend-list-card></app-friend-list-card>
      </mat-card>
    </div>
    <div class="col-xl-5 ui-container__center">
      <mat-card class="leaderboard-card">
        <app-button-group
          [selectedValue]="selectedTab"
          [buttonList]="btnList"
          (selectedChange)="changeTab($event)">
        </app-button-group>
        <app-leaderboard
          [selectedTab]="selectedTab">
        </app-leaderboard>
      </mat-card>
    </div>
    <div class="col-xl-4 ui-container__right">
      <mat-card class="last-game-card">
        <app-last-game></app-last-game>
      </mat-card>
      <mat-card class="forum-card">
        <app-forum></app-forum>
      </mat-card>
    </div>
  </div>
  <div id="find-game" class="w-100">
    <app-find-game></app-find-game>
  </div>
</div>
