<div #tableDiv class="mat-elevation-z8">

  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortDirection="asc">

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column" disableClear>{{ column }}</th>
      <td mat-cell
        class="header-align-right"
        *matCellDef="let element; let i = index;"
        [ngClass]="{'current-selection':
          selectedCellValue &&
          selectedCellValue.N === i + 1 &&
          selectedCellValue.column === column &&
          selectedCellValue.value &&
          element[column] === selectedCellValue.value }">
        {{ element[column] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowHandler(row)"></tr>
  </table>
</div>
