<div class="box">
  <div class="d-flex justify-content-between box__title">
    <div class="d-flex align-items-center">
      <div class="mr-3">
        <span class="chat-image"></span>
      </div>
      <div><span style="font-size: 18px;">Chess-app forum</span></div>
    </div>
    <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search...">
        </mat-form-field>
    </div>
  </div>
  <div class="box__table">
    <app-common-table
      [displayedColumns]="displayedColumns"
      [dataSource]="items">
    </app-common-table>
  </div>
</div>
